body {
  margin: 0;
  background-color: black;
  background-image: url(images/generalBackground.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: calc(100vw - (100vw - 100%));
  font-family: "Open Sans", sans-serif;
}

/* * {
  border: red 1px solid;
} */

section,
header {
  background-color: white;
}

header {
  padding: 20px;
  font-family: "DM Mono", monospace;
  font-size: 18px;
  color: #505666;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav:first-child {
  height: 20px;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  height: 20px;
  margin: 0 10px;
  cursor: pointer;
}

nav img {
  cursor: pointer;
}

.downArrow {
  height: 10px;
}

.firstSection {
  padding: 5vw;
  margin: auto;
  display: grid;
  grid-template-columns: 20vw 25vw;
  justify-items: center;
  align-items: center;
  column-gap: 45vw;
  font-size: 32px;
  font-weight: 600;
  color: #505666;
}

.mainSection {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 22vw);
  grid-template-rows: repeat(5, 15vh);
  position: relative;
  column-gap: 5px;
  row-gap: 5px;
  justify-content: center;
  color: white;
}

.mainSection img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gridText {
  position: absolute;
  bottom: 0;
  width: calc(100% - 15px);
  padding: 10px;
  font-weight: 600;
}

.gridText :first-child {
  font-size: 15px;
  margin: 0;
}

.gridText :nth-child(2) {
  margin: 5px auto;
}

.topLeftMainSection {
  position: relative;
  height: calc(45vh + 5px);
  width: 44vw;
  grid-column: 1/3;
  grid-row: 1/4;
  font-size: 28px;
}

.topRightFirstMainSection {
  position: relative;
  height: 30vh;
  width: calc(22vw - 5px);
  grid-column: 3/4;
  grid-row: 1/3;
  font-size: 20px;
}

.topRightSecondMainSection {
  position: relative;
  height: 30vh;
  width: calc(22vw - 5px);
  grid-column: 4/5;
  grid-row: 1/3;
  font-size: 20px;
}

.bottomLeftMainSection {
  position: relative;
  height: 30vh;
  width: 44vw;
  grid-column: 1/3;
  grid-row: 4/6;
  font-size: 20px;
}

.bottomLeftMainSection p {
  font-size: 24px !important;
  text-align: center;
  width: 100%;
}

.bottomLeftMainSection button {
  padding: 20px;
  display: block;
  color: white;
  border-radius: 30px;
  border: solid white 1px;
  background-color: transparent;
  font-size: 16px;
}

.bottomRightMainSection {
  position: relative;
  height: calc(45vh + 5px);
  width: 44vw;
  grid-column: 3/5;
  grid-row: 3/6;
  font-size: 28px;
}

.popularArticles {
  margin: auto;
  text-align: center;
}

.popularArticles h2 {
  margin: 0;
  padding: 20px;
  color: #a7aab2;
  font-size: 30px;
}

.popularArticles div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, 3vw 15vw);
  justify-items: center;
}

.popularArticles div :nth-child(2n-1) {
  font-size: 48px;
  color: #c09;
  margin: 25px 0;
}

.popularArticles div :nth-child(2n) {
  align-self: flex-start;
  font-weight: 600;
  text-align: left;
  padding: 5px;
}

.latestStories {
  padding: 0 5vw;
}

.latestStories h3 {
  margin: 0;
  padding: 20px 0;
  font-size: 48px;
  font-weight: 600;
}

.latestStories > div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 20vw);
  column-gap: 2.5vw;
}

.latestStories > div div :nth-child(2) {
  font-size: 20px;
  font-weight: 600;
}

.latestStories > div div :nth-child(3) {
  font-weight: 600;
  color: #505666;
}

.latestStories button {
  padding: 15px;
  font-size: 22px;
  background-color: transparent;
  color: #505666;
  border: #a7aab2 solid 1px;
  border-radius: 30px;
  display: block;
  margin: auto;
  cursor: pointer;
}

.channels {
  width: 100%;
  margin: auto;
  padding-bottom: 50px;
}

.channels h2 {
  margin: 0;
  padding: 20px 8vw;
  font-size: 48px;
  font-weight: 600;
}

.channels > div {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(15vw, 260px));
  column-gap: 2vw;
}

.channels div {
  width: minmax(15vw, 260px);
  height: 235px;
}

.channels div img {
  width: 150px;
}

.channelStyle {
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  color: white;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.plugg {
  background-image: url(images/smallBackground1.webp);
}

.neural {
  background-image: url(images/smallBackground2.jpg);
}

.shift {
  background-image: url(images/smallBackground3.jpg);
}

.growthQuarters {
  background-image: url(images/smallBackground4.jpg);
}

.hardfork {
  background-image: url(images/smallBackground5.webp);
}

.subscribe {
  height: 50vh;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe h2 {
  text-align: center;
  font-size: 64px;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

.subscribeText {
  color: white;
  font-size: 34px;
  text-align: center;
  margin-top: 0;
}

.subscribe a {
  color: #0cc;
  text-decoration: none;
}

.subscribeInput {
  display: flex;
  align-items: center;
}

.subscribeInput img {
  width: 27px;
  position: relative;
  left: 42px;
}

.subscribeInput input {
  padding: 5px 0 0 50px;
  font-size: 34px;
}

.subscribeInput button {
  padding: 2px 0;
  height: 49px;
  font-size: 18px;
  color: #a7aab2;
}

.icons {
  padding: 20px;
}

.icons img {
  width: 30px;
}

.videoGrid {
  display: grid;
  grid-template-columns: repeat(4, 18%);
  grid-template-rows: 500px 200px;
  column-gap: 2%;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 100%;
}

.videoTitle {
  grid-column: 1/4;
  grid-row: 2/3;
}

.videoGrid iframe {
  grid-column: 1/4;
}

.videoPreviews {
  grid-column: 4/5;
  grid-row: 1/3;
  height: 700px;
  overflow-y: scroll;
}

.videoPreviews img {
  width: 100%;
}

.workWithUs {
  display: grid;
  justify-content: center;
  grid-template-columns: 40vw 40vw;
}

.offeredServices {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.offeredServices img {
  width: 112px;
}

.companies {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
.companies img {
  width: 8vw;
}

footer {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(4, 20%);
  justify-content: center;
}

footer :first-child {
  grid-column: span 2;
}

footer :last-child {
  grid-column: 1/-1;
}
